@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
  * {
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
html{
  scroll-behavior: smooth;
}

.container{
  width: 90% !important;
  margin: auto !important;
}

div,button,a,p,li{
  transition: .3s ease-in-out;
}

.trainsition{
  transition: .4s ease-in-out all;
}

.loader{
  color: #222;
}


/* Responsive */
@media(max-width:767px){
  footer{
    position: relative;
    padding: 5px 0 !important;
  }
  footer p{
    margin-top: 5px !important;
    width: 90%;
    margin: auto;
    text-align: center !important;
  }
  .footer-logo{
    position: absolute;
    top:2.5%;
    /* left: 7% */
  }
  .footer-links{
    width: 85% ;
    padding:5px 0 !important;
  }
}